* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./arriere-plan-style-futuriste.jpg);
    background-size: cover;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
h1 {
    font-size: 80px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, #AAAAFF, #FFFFFF);    
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-size: 25px;
    background: linear-gradient(0deg, #AAAAFF, #FFFFFF);    
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotateX(90deg);
    animation: tournerAccueil 1s linear .5s forwards; 
}
.nomTitre {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prenomNom {
    font-weight: 700;
    background: linear-gradient(0deg, #AAAAFF, #FFFFFF);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    transform: rotateX(90deg);
    cursor: pointer;
    animation: tournerAccueil 1s linear .5s forwards; 
}
@keyframes tournerAccueil {
    to {
        transform: rotateX(0deg);;
    }
}
.prenomNom::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #f1f1f1;
}
.planche:hover .prenomNom::after {
    transition: 1s cubic-bezier(0.65, 0.02, 0.35, 1.26);
    left: 0;
    width: 100%!important;
}
.planche:hover .premLettreContainer {
    animation: none;
}
.premLettre {
    font-size: 90px;    
    text-shadow: 0 0 1px #f1f1f1; 
}
.premLettreSuite {    
    position: absolute;  
    left: -56px;
    top: -36px; 
    transition: transform 1s cubic-bezier(1, -0.04, 1, 1);
    transform: scale(350);           
}
.premLettreContainer {
    width: fit-content;
    display: inline-block;
    animation: glow 3s linear infinite alternate forwards;
}
@keyframes glow {
    
    to {
        text-shadow: 0 0 1px #f1f1f1;
        transform: rotateY(360deg);
    }
}
.prenom, .nom {
    font-size: 40px;
}
.planche {
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    background: radial-gradient(#f1f1f110, transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}